<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project M</title>
</head>
<body>
  <header>
    <h1>Project M</h1>
  </header>
  <main>
    <div class="player">
      <h2 class="player__h2">Player</h2>
      <p class="player-current-song"></p>
      <form class="song-form">
        <div class="form-control">
          <label for="songUrl">Song link</label>
          <input type="text" name="songUrl" id="songUrl">
        </div>
        <button type="submit"></button>
      </form>
    </div>
  </main>
</body>
</html>